/* setting up media queries: https://it.noknow.info/en/article/css/set-up-media-queries-for-various-device-widths */

/* *{
  outline: solid 1px red;
} */

html {
  scroll-behavior: smooth;
  font-size: 19px;
  min-height: 100%; 
  
}

@media screen and (max-width: 1600px){
  /* smaller PCs*/
  html{
    font-size: 14px;
  } 
}
@media screen and (max-width: 1025px) {
  /* Tablet */
  html{
    font-size: 12px;
  } 
}
@media screen and (max-width: 767px) {
  /* Smart phone (landscape) */
}
@media screen and (max-width: 499px){ /*everything less than 499px width will have this applied to it*/
  /* Smart phone (portrait) */
  html{
    font-size: 10px;
  } 
}

.hstack{
  display: flex;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 20;
}

.nav-island{
  background-color: black !important;
  border-top: 3px solid #ff6630;
  border-bottom: 3px solid #ff6630;
  padding: 3px;
}
.nav-island-left{
  /* background-color: #642c15 !important; */
  background-color: black !important;
  border-top: 3px solid #ff6630;
  border-bottom: 3px solid #ff6630;
  border-left: 3px solid #ff6630;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  padding: 3px;
  padding-left: 20px !important;
}
.nav-island-right{
  background-color: black !important;
  border-top: 3px solid #ff6630;
  border-bottom: 3px solid #ff6630;
  border-right: 3px solid #ff6630;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 3px;
  padding-right: 20px !important;
}

.nav-island-parent{
  display: flex;
  flex-wrap: wrap;
  border-radius: 40px;
}
.nav-island-parent a{
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  color: #ff6630 !important;
}

.nav-island-parent a:hover{
  color: black !important;
  background-color: #ff6630 !important;
  transform: 0.5s;
}

.logo-image {
  width: 45px;
  height: auto;
  padding-bottom: -10%;
  border-radius: 0%;
  overflow: hidden;
  margin-top: 0px;
  vertical-align: middle;
}

.scroll-progress {
  /* margin-top: 3%; */
  width: 0%;
  background-color: #ff6630;
  height: 6px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
}

.lightSwitchButton {
  background: black;
  color: #fff;
  font-size: 1rem;
  border: 3px solid #00ff7f;
  border-radius: 20px;
  box-shadow: 0px 0px 10px #00ff7f;
}

.landingAttribsDark {
  padding-bottom: 7%;
  background: linear-gradient(rgba(0, 111, 121, 0.5), rgba(0, 0, 0, 0.5));
  height: 100vh;
}

.landingAttribsLight {
  padding-bottom: 7%;
  background: white;
}

.hero{
  margin-top: -1%;
  max-width: 900px;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.arrows {
  width: 60px;
  height: 72px;
  position: absolute;
  left: 50%;
  margin-left: -30px;
  bottom: 20px;
}

.arrows path {
  stroke: #1ce783;
  fill: transparent;
  stroke-width: 3px;
  animation: arrow 2s infinite;
  -webkit-animation: arrow 1 infinite;
}

@keyframes arrow {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes arrow /*Safari and Chrome*/ {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.arrows path.a1 {
  animation-delay: -1s;
  -webkit-animation-delay: -1s; /* Safari and Chrome */
}

.arrows path.a2 {
  animation-delay: -0.5s;
  -webkit-animation-delay: -0.5s; /* Safari and Chrome */
}

.arrows path.a3 {
  animation-delay: 0s;
  -webkit-animation-delay: 0s; /* Safari and Chrome */
}

#anchor {
  position: relative;
  padding-top: 55px;
}

.bodyButton {
  background: black;
  color: #fff;
  font-size: 1.2rem;
  text-align: center;
  max-width: 20rem;
  height: auto;
  border: 3px solid #00ff7f;
  border-radius: 50px;
  box-shadow: 0px 0px 35px #00ff7f;
  margin-top: 3%;
  margin: auto;
}
  .bodyButton i{
    padding: 10px;
  }
  .bodyButton a{
    text-decoration: none;
    color: white;
    padding: 20px 60px;
  }
  .bodyButton:hover a{
    color: #ff6630;
  }
  
.hover-btn:hover {
  border: 3px solid #ff6630;
  color: #ff6630;
  box-shadow: 0 20px 16px 0 rgba(0, 0, 0, 0.24);
  transition: 0.5s;
}

.profile-picture {
  margin-top: 5%;
  margin-bottom: 2%;
  align-self: center;
  border-radius: 50%;
  width: 25rem;
  height: auto;
  border: 10px solid #1ce783 /* #037231 03cc57  #00FF7F */;
  box-shadow: 0px 0px 70px #1ce783;
}

.navbar img:hover {
  border: 5px solid #1ce781be /* #037231 03cc57  #00FF7F */;
  border-radius: 24px;
  box-shadow: 0px 0px 800px #00ff80;
  transition: 0.5s;
}

.typewriter {
  width: auto;
  display: inline-block;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  color: #03e976;
  font-size: 5rem; /* 100 */
  border-right: 0.1em solid #ff6630; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: auto; /* Gives that scrolling effect as the typing happens */
  line-height: 1.5em;
  animation: typing 2.5s steps(30, end), blink-caret 0.75s step-end infinite;
}

@keyframes typing {
  from {
    max-width: 0;
  }
  to {
    max-width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #ff6630;
  }
}

.header {
  color: #03e976;
  font-size: 2.65rem; /* 50 */
  line-height: 1.5em;
}
.sub-title {
  /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
  color: black;
   /* line-height: 1em; */
  /* box-shadow: 0px 20px 10px #ccc;
	background-color: rgba(245, 154, 36, 0.461); */
}

.details {
  /* margin-top: 3rem; */
  text-align: center;
  padding-bottom: 5%;
}

.details p {
  font-size: 1.24rem;
  font-weight: 500;
  line-height: 2em;
}

/* Footer */

.footer {
  text-align: center;
  background-color: #ff6630;
}

.footer h1 {
  color: black;
  margin-top: 5%;
  font-size: 2.65rem;
  padding-bottom: 2%;
}

.footer a {
  margin-left: 3%;
  margin-right: 3%;
  text-decoration: none;
}

.fa-linkedin {
  color: black;
}

.fa-github {
  color: black;
}

.fa-envelope {
  color: black;
}

/* Animations */

.aboutAnimation {
  /* margin-left: 20%; */
  margin-top: -3%;
}

.defaultAnimation {
  margin: auto;
}

.musicAnimation {
  margin: 0 auto;
  margin-top: -10%;
}

hr{
  height: 1px; width: 30%; margin-top: 50px; margin-bottom: 50px; background-color: #3C4042;
}

/* Carousel View CSS */

.cards {
  display: grid;
  grid-auto-columns: 100%;
  grid-column-gap: 10px;
  grid-auto-flow: column;
  padding: 25px 0px;
  list-style: none;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 25px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 15%);
  scroll-snap-align: start;
  transition: all 0.5s;
}

.this-site-card {
  display: flex;
  flex-direction: column;
  background: #00FFFFFF;
  padding: 20px;
  border-radius: 25px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 15%);
  scroll-snap-align: start;
  transition: all 0.2s;
  border: 3px dashed #ff6630;
}
.this-site-card a{
  color: #ff6630;
  font-weight: 600;
}

.card-title {
  font-size: 1.5rem;
}

.card-link-wrapper {
  margin-top: auto;
  width: fit-content;
}

.card .card-link {
  text-decoration: none;
  color: white;
  background-color: #ff6630;
  padding: 6px 20px;
  border-radius: 18px;
  box-shadow: 1px 2.5px 2.5px 2.5px rgba(0, 0, 0, 0.24);
}
.card-link:hover{
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.24);
  transition: 0.3s
}

.cards::-webkit-scrollbar{
  height: 7px;
  background: gainsboro;
  border-radius: 30px;
}
::-webkit-scrollbar-thumb:horizontal{
  background: #ff6630;
  border-radius: 50px;
}

.tools-list{
  padding: 0 0 30px;
  font-size: 0.8rem;
}
.tools-list li{
  font-size: 0.8rem;
}

@media (min-width: 500px) {
  .cards {
    grid-auto-columns: calc(50% - 10px);
    grid-column-gap: 10px;
  }
}

@media (min-width: 700px) {
  .cards {
    grid-auto-columns: calc(calc(100% / 3) - 20px);
    grid-column-gap: 30px;
  }
}

@media (min-width: 1100px) {
  .cards {
    grid-auto-columns: calc(33% - 30px);
    grid-column-gap: 40px;
  }
}

    /* Custom styles for the modal content */
    .modal-content {
      width: 90%; /* Adjust the width as needed */
      max-width: none; /* Remove the maximum width */
      margin: 0 auto; /* Center the modal horizontally */
      padding: 0 20px;
      background-color: #01182b;
    }
    
    /* Adjust the aspect ratio for widescreen videos */
    .modal-video {
      position: relative;
      padding-bottom: 56.25%; /* 16:9 aspect ratio */
      height: 0;
      overflow: hidden;
    }
    
    .modal-video iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }


/* fade in hompage elements
.tag {
  opacity: 0;
  transform: translate(0, 10vh);
  transition: all 1s;
}

.tag.visible {
  opacity: 1;
  transform: translate(0, 0);
}

section { height: 100vh; }


.yellow { background-color: lightyellow; }
.red { background-color: lightcoral; }
.blue { background-color: lightblue; }
.green { background-color: lightgreen; } */


