html {
  scroll-behavior: smooth;
}

mark {
  background-color: rgba(255, 136, 0, 0.404);
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 20;
}

.logo-image {
  width: 45px;
  height: auto;
  padding-bottom: -10%;
  border-radius: 0%;
  overflow: hidden;
  margin-top: 0px;
  vertical-align: middle;
}

.scroll-progress {
  /* margin-top: 3%; */
  width: 0%;
  background-color: #ff6630;
  height: 6px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
}

.lightSwitchButton {
  background: black;
  color: #fff;
  border: 3px solid #00ff7f;
  border-radius: 20px;
  box-shadow: 0px 0px 10px #00ff7f;
}

.landingAttribsDark {
  padding-bottom: 7%;
  background: linear-gradient(rgba(0, 111, 121, 0.5), rgba(0, 0, 0, 0.5));
  height: 100vh;
}

.landingAttribsLight {
  padding-bottom: 7%;
  background: white;
}

.arrows {
  width: 60px;
  height: 72px;
  position: absolute;
  left: 50%;
  margin-left: -30px;
  bottom: 20px;
}

.arrows path {
  stroke: #1ce783;
  fill: transparent;
  stroke-width: 3px;
  animation: arrow 2s infinite;
  -webkit-animation: arrow 1 infinite;
}

@keyframes arrow {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes arrow /*Safari and Chrome*/ {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.arrows path.a1 {
  animation-delay: -1s;
  -webkit-animation-delay: -1s; /* Safari 和 Chrome */
}

.arrows path.a2 {
  animation-delay: -0.5s;
  -webkit-animation-delay: -0.5s; /* Safari 和 Chrome */
}

.arrows path.a3 {
  animation-delay: 0s;
  -webkit-animation-delay: 0s; /* Safari 和 Chrome */
}

#anchor {
  position: relative;
  padding-top: 65px;
}

.bodyButton {
  margin-top: 4%;
  background: black;
  color: #fff;
  font-size: x-large;
  text-align: center;
  width: 35%;
  height: auto;
  border: 3px solid #00ff7f;
  border-radius: 50px;
  box-shadow: 0px 0px 35px #00ff7f;
}

input:hover {
  border: 3px solid #ff6630;
  color: #ff6630;
  box-shadow: 0 20px 16px 0 rgba(0, 0, 0, 0.24);
  transition: 0.5s;
}

.profile-picture {
  margin-top: 5%;
  margin-bottom: 2%;
  align-self: center;
  border-radius: 50%;
  width: 450px;
  height: auto;
  border: 10px solid #1ce783 /* #037231 03cc57  #00FF7F */;
  box-shadow: 0px 0px 70px #1ce783;
}

img:hover {
  border: 5px solid #1ce781be /* #037231 03cc57  #00FF7F */;
  border-radius: 50px;
  box-shadow: 0px 0px 800px #00ff80;
  transition: 0.5s;
}

.title {
  /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
  margin-top: 2%;
  color: #03e976;
  /* color: rgb(3, 204, 87);  */
  font-size: 100px; /* 100 */
  line-height: 1.5em;
  /* box-shadow: 0px 20px 10px #ccc;
	background-color: rgba(245, 154, 36, 0.461); */
}

.typewriter {
  width: auto;
  display: inline-block;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  color: #03e976;
  font-size: 100px; /* 100 */
  border-right: 0.1em solid #ff6630; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: auto; /* Gives that scrolling effect as the typing happens */
  line-height: 1.5em;
  animation: typing 5s steps(70, end), blink-caret 0.75s step-end infinite;
}

@keyframes typing {
  from {
    max-width: 0;
  }
  to {
    max-width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #ff6630;
  }
}

.header {
  color: #03e976;
  font-size: 50px; /* 50 */
  line-height: 1.5em;
}
.sub-title {
  /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
  color: black;
  font-size: 37px; /* 40 */
  /* line-height: 1em; */
  /* box-shadow: 0px 20px 10px #ccc;
	background-color: rgba(245, 154, 36, 0.461); */
}

.details {
  /* margin-top: 10%; */
  text-align: center;
  padding-bottom: 5%;
}

.details p {
  font-size: 2.2vh;
  font-weight: 500;
}

.details h4 {
  margin-left: 0%;
  margin-right: 0%;
}

.footer {
  text-align: center;
  background-color: #ff6630;
}

.footer h1 {
  color: black;
  margin-top: 5%;
  font-size: 50px;
  padding-bottom: 2%;
}

.footer a {
  margin-left: 3%;
  margin-right: 3%;
  text-decoration: none;
}

.fa-linkedin {
  color: black;
}

.fa-github {
  color: black;
}

.fa-envelope {
  color: black;
}
.aboutAnimation {
  margin-left: 20%;
  margin-top: -3%;
}

.defaultAnimation {
  margin: auto;
}

.musicAnimation {
  margin: 0 auto;
  margin-top: -10%;
}

.card {
  /* Add shadows to create the "card" effect */
  background-color: rgba(105, 105, 105, 0.205);
  height: 700px;
  width: 900px;
  border-radius: 50px;
  margin-left: 5%;
  margin-bottom: 3%;
}

.card-header{
  text-align: center; 
  font-size: 30px; /* 50 */
}